<div class="col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm.value)">

        <label for="name">
          Name
        </label>
        <input id="name" type="text" name="name" ngModel>

        <label for="description">
          Description
        </label>
        <input id="description" type="text" name="description" ngModel>


      <button class="button" type="submit">Submit</button>

    </form>
  </div>
</div>
