<div class="top-brands">
  <div class="container">
    <h3>Products By Category</h3>
    <div class="agile_top_brands_grids">
      <div class="col-md-3 top_brand_left" *ngFor="let product of products">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="tag"><img src="/assets/images/tag.png" alt=" " class="img-responsive" /></div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block" >
                  <div class="snipcart-thumb">
                    <a href="single.html"><img title=" " alt=" " src="{{defaultUrl}}{{product.imageUrl}}" /></a>
                    <p>{{product.name}}</p>
                    <h4>{{product.unitPrice | currency:'USD'}}<span>{{product.unitPrice | currency}}</span></h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">

                        <button class="btn addtocart" (click)="addToCart(product)">Add to cart</button>




                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"> </div>
    </div>
    <div class="footer-pagination">

      <ngb-pagination [(page)]="thePageNumber"
      [pageSize]="thePageSize"
      [collectionSize]="theTotalElements"
      (pageChange)="listProducts()">
      </ngb-pagination>
      <select (change)="updatePageSize($event)">
        <option>5</option>
        <option selected="true">10</option>
        <option>20</option>
        <option>50</option>
        </select>

      </div>
  </div>
</div>
